# display the results of the four models

In [1]:
from fama_model import Model_Fama 
import numpy as np
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

# step1: calculate factors

In [2]:
    mod=Model_Fama()
    (R_25_group,SMB,HML,Rm_Rf,UMD)=mod.calc_factors()

##  E (r_ei)

In [3]:
    Er=pd.DataFrame(R_25_group.mean().values.reshape(5,5))
    columns=['Low_BE/ME','2','3','4','High_BE/ME']
    index=['Small_Size','2','3','4','Big_Size']
    Er.columns=columns
    Er.index=index
    Er

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.002573  0.002749  0.003225  0.002681    0.002708
2            0.002518  0.002260  0.002815  0.002699    0.002302
3            0.002628  0.002231  0.003079  0.002483    0.002722
4            0.002373  0.002343  0.001819  0.001887    0.002517
Big_Size     0.002095  0.001220  0.002443  0.001243    0.001952

# step2: CAPM model

In [4]:
    (alpha_CAPM,t_alpha_CAPM,belta_mkt_CAPM,R2_CAPM)=mod.do_regression_CAPM(R_25_group,Rm_Rf)

##  α

In [5]:
     alpha_CAPM

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.001735  0.001770  0.002116  0.001646    0.001596
2            0.001606  0.001323  0.001723  0.001726    0.001248
3            0.001672  0.001198  0.001886  0.001346    0.001524
4            0.001444  0.001309  0.000769  0.000789    0.001392
Big_Size     0.001239  0.000299  0.001368  0.000365    0.000993

## t(α)

In [6]:
    t_alpha_CAPM

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   2.472676  2.917418  3.217495  2.769849    2.719947
2            3.475724  2.869933  2.852167  3.156947    2.461381
3            3.183140  2.614364  3.066693  2.452511    2.127556
4            2.757709  2.952933  1.868974  1.985044    2.405258
Big_Size     2.981144  0.891616  2.259173  0.865903    2.167170

## βi,MKT

In [7]:
   belta_mkt_CAPM

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.074510  0.086948  0.098620  0.092018    0.098840
2            0.081000  0.083264  0.097101  0.086451    0.093615
3            0.084919  0.091802  0.106029  0.101038    0.106499
4            0.082561  0.091862  0.093332  0.097588    0.099951
Big_Size     0.076076  0.081839  0.095538  0.078094    0.085219

## R^2

In [8]:
    R2_CAPM

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.410547  0.559035  0.581449  0.596977    0.636796
2            0.654776  0.668431  0.614810  0.606977    0.677778
3            0.617394  0.712441  0.647373  0.676833    0.577231
4            0.605616  0.726036  0.760576  0.788165    0.647989
Big_Size     0.674330  0.785902  0.605827  0.679965    0.681315

# step3: 2factors model

In [9]:
  (alpha_2factors,t_alpha_2factors,belta_mkt_2factors,belta_hml_2factors,R2_2factors)=mod.do_regression_2factors(R_25_group,Rm_Rf,HML)

##  α

In [10]:
    alpha_2factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000410 -0.000077 -0.000613 -0.000670   -0.000567
2            0.000222 -0.000185 -0.000708 -0.000350   -0.000617
3            0.000004 -0.000360 -0.000516 -0.000795   -0.001238
4           -0.000631 -0.000387 -0.000434 -0.000475   -0.000094
Big_Size     0.000483  0.000043  0.001305 -0.000434    0.000638

##  t(α)

In [11]:
    t_alpha_2factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.675449 -0.145484 -1.510708 -1.634769   -1.303996
2            0.549223 -0.484822 -1.791507 -0.896552   -1.633909
3            0.008000 -0.976318 -1.221473 -2.104658   -2.470123
4           -1.792531 -1.231464 -1.188528 -1.415551   -0.172929
Big_Size     1.144165  0.118541  1.979203 -1.021039    1.294052

## βi,MKT

In [12]:
    belta_mkt_2factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.049928 -0.020205 -0.059653 -0.042305   -0.026632
2            0.000697 -0.004195 -0.043909 -0.033997   -0.014585
3           -0.011886  0.001429 -0.033318 -0.023134   -0.053751
4           -0.037782 -0.006538  0.023550  0.024235    0.013728
Big_Size     0.032234  0.066962  0.091902  0.031777    0.064647

## βi,HML

In [13]:
    belta_hml_2factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.735706  0.633509  0.935748  0.794146    0.741818
2            0.474770  0.517078  0.833681  0.712120    0.639702
3            0.572334  0.534305  0.823852  0.734130    0.947437
4            0.711492  0.581765  0.412564  0.433683    0.509773
Big_Size     0.259201  0.087959  0.021501  0.273834    0.121628

## R^2

In [14]:
    R2_2factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.628022  0.720286  0.865876  0.838573    0.831691
2            0.777002  0.808496  0.861056  0.830752    0.849738
3            0.769774  0.843569  0.859734  0.870982    0.825447
4            0.849995  0.884252  0.841326  0.872740    0.739573
Big_Size     0.716863  0.790834  0.605994  0.725390    0.688856

# step4: 3factors model

In [15]:
   (alpha_3factors,t_alpha_3factors,belta_mkt_3factors,belta_hml_3factors,belta_smb_3factors,R2_3factors)=mod.do_regression_3factors(R_25_group,Rm_Rf,HML,SMB)

## α

In [16]:
    alpha_3factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000401 -0.000085 -0.000624 -0.000675   -0.000569
2            0.000235 -0.000182 -0.000721 -0.000349   -0.000617
3            0.000003 -0.000364 -0.000531 -0.000815   -0.001249
4           -0.000628 -0.000393 -0.000458 -0.000489   -0.000090
Big_Size     0.000484  0.000032  0.001251 -0.000443    0.000637

## t(α)

In [17]:
    t_alpha_3factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.661869 -0.162747 -1.566656 -1.648828   -1.305114
2            0.593721 -0.475302 -1.871637 -0.890276   -1.628087
3            0.006835 -0.986762 -1.296797 -2.330650   -2.511109
4           -1.781601 -1.261846 -1.437642 -1.518491   -0.164993
Big_Size     1.142815  0.089455  2.360659 -1.050426    1.286866

## βi,MKT

In [18]:
    belta_mkt_3factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.047118 -0.022834 -0.063071 -0.043877   -0.027283
2            0.004470 -0.003190 -0.047778 -0.033610   -0.014595
3           -0.012038  0.000226 -0.037815 -0.029119   -0.056879
4           -0.037100 -0.008475  0.016179  0.020165    0.014964
Big_Size     0.032563  0.063586  0.075698  0.029118    0.064236

## βi,HML

In [19]:
    belta_hml_3factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.072035  0.318726  0.526583  0.605929    0.663892
2            0.926413  0.637432  0.370458  0.758506    0.638475
3            0.554150  0.390300  0.285518  0.017612    0.572990
4            0.793121  0.349834 -0.469863 -0.053477    0.657750
Big_Size     0.298530 -0.316202 -1.918266 -0.044538    0.072364

## βi,SMB

In [20]:
    belta_smb_3factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.340056  0.318271  0.413699  0.190302    0.078790
2           -0.456648 -0.121688  0.468356 -0.046900    0.001240
3            0.018385  0.145601  0.544300  0.724458    0.378596
4           -0.082533  0.234501  0.892206  0.492558   -0.149617
Big_Size    -0.039765  0.408640  1.961263  0.321900    0.049809

## R^2

In [21]:
    R2_3factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.632755  0.724432  0.871540  0.839986    0.831915
2            0.788521  0.809287  0.868974  0.830851    0.849738
3            0.769790  0.844561  0.869177  0.890243    0.829485
4            0.850330  0.886871  0.879798  0.883854    0.740376
Big_Size     0.716965  0.801680  0.747311  0.731785    0.688984

## step5: 4factors model

In [22]:
    (alpha_4factors,t_alpha_4factors,belta_mkt_4factors,belta_hml_4factors,belta_smb_4factors,belta_umd_4factors,R2_4factors)=mod.do_regression_4factors(R_25_group,Rm_Rf,HML,SMB,UMD)

## α

In [23]:
    alpha_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000515 -0.000294 -0.000742 -0.000676   -0.000409
2            0.000141 -0.000286 -0.000730 -0.000476   -0.000462
3           -0.000156 -0.000539 -0.000424 -0.000733   -0.001260
4           -0.000690 -0.000411 -0.000479 -0.000388    0.000052
Big_Size     0.000371  0.000007  0.001206 -0.000244    0.000520

## t(α)

In [24]:
    t_alpha_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.854369 -0.589398 -1.906387 -1.636427   -0.975973
2            0.360013 -0.761401 -1.879462 -1.250704   -1.286464
3           -0.364276 -1.580294 -1.052690 -2.119767   -2.512968
4           -1.959505 -1.310717 -1.493428 -1.237881    0.097936
Big_Size     0.890440  0.018927  2.261613 -0.624164    1.062632

## βi,MKT

In [25]:
    belta_mkt_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.039675 -0.009266 -0.055398 -0.043828   -0.037738
2            0.010585  0.003580 -0.047182 -0.025348   -0.024654
3           -0.001684  0.011621 -0.044749 -0.034429   -0.056127
4           -0.033112 -0.007287  0.017556  0.013604    0.005726
Big_Size     0.039924  0.065202  0.078634  0.016188    0.071829

## βi,HML

In [26]:
    belta_hml_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.075788  0.325567  0.530451  0.605954    0.658620
2            0.929497  0.640846  0.370759  0.762672    0.633404
3            0.559371  0.396045  0.282021  0.014934    0.573369
4            0.795131  0.350433 -0.469169 -0.056785    0.653092
Big_Size     0.302242 -0.315387 -1.916787 -0.051058    0.076193

## βi,SMB

In [27]:
    belta_smb_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.382145  0.241551  0.370312  0.190026    0.137910
2           -0.491229 -0.159969  0.464985 -0.093616    0.058116
3           -0.040163  0.081173  0.583509  0.754487    0.374346
4           -0.105081  0.227780  0.884418  0.529657   -0.097382
Big_Size    -0.081387  0.399499  1.944667  0.395014    0.006874

## βi,UMD

In [28]:
    belta_umd_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.013653  0.024886  0.014073  0.000090   -0.019177
2            0.011217  0.012417  0.001093  0.015153   -0.018449
3            0.018992  0.020899 -0.012718 -0.009741    0.001379
4            0.007314  0.002180  0.002526 -0.012034   -0.016943
Big_Size     0.013501  0.002965  0.005383 -0.023716    0.013927

## R^2

In [29]:
    R2_4factors

            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.641940  0.754949  0.879430  0.839987    0.847888
2            0.796888  0.819193  0.869026  0.843277    0.867278
3            0.790367  0.869164  0.875384  0.894434    0.829549
4            0.853497  0.887143  0.880170  0.891840    0.752784
Big_Size     0.731118  0.802368  0.748593  0.773572    0.701110

## step6: divide to two parts of the samples and repeat the regression

## the first part(year 2005-2011):

In [30]:
    mod.display(R_25_group[0:72],SMB[0:72],HML[0:72],Rm_Rf[0:72],UMD[0:72])

Er
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.003896  0.004528  0.004935  0.004634    0.003806
2            0.003495  0.003598  0.004609  0.004199    0.003509
3            0.004267  0.003513  0.004895  0.004187    0.004589
4            0.004079  0.004018  0.003160  0.003076    0.003192
Big_Size     0.003437  0.002413  0.003602  0.002144    0.002997
-------------------------
CAPM model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.002188  0.002725  0.002868  0.002714    0.001754
2            0.001769  0.001834  0.002479  0.002418    0.001510
3            0.002416  0.001549  0.002703  0.002116    0.002302
4            0.002077  0.001999  0.001297  0.001074    0.001117
Big_Size     0.001720  0.000703  0.001658  0.000507    0.001068
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.836419  2.442765  2.566547  2.649477    1.761814
2            2.633896  2.417420  2.247898  2.779190    1.640573
3            3.197812  2.243436  2.228900  2.090367    1.678827
4            2.484034  2.608620  1.661032  1.543601    1.328640
Big_Size     3.334717  1.342589  1.502886  0.661377    1.285282
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.080658  0.085192  0.097671  0.090678    0.096958
2            0.081528  0.083352  0.100639  0.084139    0.094449
3            0.087417  0.092793  0.103527  0.097869    0.108034
4            0.094581  0.095366  0.088025  0.094571    0.098004
Big_Size     0.081119  0.080773  0.091837  0.077309    0.091120
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.439115  0.499128  0.566290  0.572432    0.618497
2            0.715708  0.673576  0.587357  0.615046    0.642775
3            0.695819  0.755249  0.554574  0.615071    0.514797
4            0.686155  0.725795  0.684661  0.759325    0.698783
Big_Size     0.808644  0.802586  0.542044  0.634736    0.672516
-------------------------
2factors model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000337  0.000161 -0.000413  0.000024   -0.001223
2            0.000477  0.000247 -0.000692 -0.000085   -0.001159
3            0.000869 -0.000269 -0.000892 -0.000888   -0.001574
4           -0.000276 -0.000057 -0.000437 -0.000726   -0.000921
Big_Size     0.001157  0.000650  0.001416 -0.000832    0.000392
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.043791 -0.041166 -0.064020 -0.041935   -0.049748
2            0.017823  0.005177 -0.055616 -0.039231   -0.037096
3            0.011147  0.003162 -0.073656 -0.050158   -0.083007
4           -0.021385 -0.005966  0.002555  0.005853   -0.002463
Big_Size     0.053374  0.078138  0.079891  0.011293    0.057780
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.718005  0.729022  0.932873  0.765112    0.846416
2            0.367546  0.451033  0.901514  0.711778    0.758947
3            0.440039  0.517124  1.022251  0.854040    1.102207
4            0.669066  0.584633  0.493113  0.511856    0.579639
Big_Size     0.160077  0.015206  0.068920  0.380876    0.192355
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.660359  0.731523  0.894750  0.831551    0.918185
2            0.808194  0.798976  0.887028  0.894906    0.906663
3            0.807922  0.904385  0.898372  0.912871    0.855498
4            0.904468  0.899224  0.821275  0.900756    0.854202
Big_Size     0.828666  0.802767  0.543985  0.732692    0.691571
-------------------------
3factors model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000323  0.000148 -0.000439  0.000009   -0.001219
2            0.000490  0.000244 -0.000718 -0.000078   -0.001133
3            0.000852 -0.000282 -0.000902 -0.000924   -0.001575
4           -0.000288 -0.000073 -0.000489 -0.000750   -0.000889
Big_Size     0.001146  0.000611  0.001289 -0.000835    0.000403
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.319606  0.166293 -0.765264  0.012417   -2.420319
2            0.822329  0.374655 -1.188929 -0.157883   -2.344908
3            1.316842 -0.607967 -1.430918 -1.996315   -1.924189
4           -0.578308 -0.146997 -0.913956 -1.629511   -1.479462
Big_Size     2.168938  1.208115  1.568828 -1.163397    0.459100
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.044418 -0.040558 -0.062836 -0.041266   -0.049923
2            0.017207  0.005340 -0.054426 -0.039531   -0.038244
3            0.011871  0.003731 -0.073209 -0.048526   -0.082973
4           -0.020843 -0.005255  0.004876  0.006928   -0.003896
Big_Size     0.053878  0.079882  0.085607  0.011392    0.057256
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.045043  0.412070  0.316216  0.416101    0.937612
2            0.688174  0.365845  0.281263  0.868316    1.357171
3            0.063023  0.220679  0.789274  0.003542    1.084588
4            0.386865  0.214139 -0.716194 -0.048656    1.326639
Big_Size    -0.102752 -0.894143 -2.909808  0.329261    0.465567
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.316106  0.306357  0.596045  0.337344   -0.088148
2           -0.309910  0.082340  0.599518 -0.151305   -0.578228
3            0.364414  0.286536  0.225189  0.822068    0.017029
4            0.272767  0.358110  1.168885  0.541776   -0.722030
Big_Size     0.254043  0.878953  2.879161  0.049889   -0.264080
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.663447  0.734479  0.904406  0.835179    0.918419
2            0.812929  0.799277  0.896571  0.895817    0.917694
3            0.813458  0.907683  0.899573  0.932740    0.855504
4            0.907081  0.903910  0.876551  0.912166    0.871568
Big_Size     0.832297  0.846280  0.787912  0.732813    0.694157
-------------------------
4factors model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000374 -0.000330 -0.000437  0.000214   -0.001146
2            0.000486  0.000176 -0.000654 -0.000111   -0.001075
3            0.000820 -0.000335 -0.000728 -0.000951   -0.001941
4           -0.000202  0.000009 -0.000534 -0.000629   -0.000970
Big_Size     0.001202  0.000611  0.001158 -0.000586   -0.000147
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.365180 -0.426727 -0.749039  0.315056   -2.262152
2            0.802616  0.268268 -1.072335 -0.222050   -2.205721
3            1.248780 -0.714446 -1.179793 -2.026211   -2.585405
4           -0.405955  0.017791 -0.987050 -1.391883   -1.603845
Big_Size     2.251767  1.191083  1.404470 -0.853146   -0.206407
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.042952 -0.026900 -0.062913 -0.047125   -0.052023
2            0.017332  0.007268 -0.056251 -0.038581   -0.039903
3            0.012801  0.005233 -0.078173 -0.047759   -0.072508
4           -0.023288 -0.007594  0.006175  0.003491   -0.001570
Big_Size     0.052280  0.079863  0.089353  0.004288    0.073001
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.081410  0.750842  0.314318  0.270769    0.885520
2            0.691276  0.413657  0.236008  0.891895    1.316022
3            0.086094  0.257936  0.666135  0.022583    1.344176
4            0.326240  0.156121 -0.683969 -0.133905    1.384324
Big_Size    -0.142394 -0.894633 -2.816887  0.153056    0.856104
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.359925 -0.101827  0.598332  0.512455   -0.025381
2           -0.313647  0.024731  0.654045 -0.179716   -0.528648
3            0.336616  0.241645  0.373559  0.799127   -0.295747
4            0.345814  0.428015  1.130056  0.644493   -0.791535
Big_Size     0.301807  0.879542  2.767200  0.262199   -0.734636
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.004702  0.043803 -0.000245 -0.018791   -0.006736
2            0.000401  0.006182 -0.005851  0.003049   -0.005321
3            0.002983  0.004817 -0.015922  0.002462    0.033565
4           -0.007839 -0.007502  0.004167 -0.011023    0.007459
Big_Size    -0.005126 -0.000063  0.012015 -0.022783    0.050496
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.664246  0.805140  0.904408  0.848343    0.920018
2            0.812939  0.801261  0.897635  0.896249    0.918786
3            0.813892  0.908773  0.906597  0.932948    0.882113
4            0.909605  0.906315  0.877373  0.917690    0.873736
Big_Size     0.834026  0.846280  0.792880  0.762334    0.804756
-------------------------

## the second part(year 2011-2017):

In [31]:
    mod.display(R_25_group[72:144],SMB[72:144],HML[72:144],Rm_Rf[72:144],UMD[72:144])

Er
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.001251  0.000969  0.001516  0.000729    0.001609
2            0.001541  0.000921  0.001022  0.001198    0.001095
3            0.000989  0.000949  0.001263  0.000778    0.000856
4            0.000667  0.000669  0.000478  0.000699    0.001842
Big_Size     0.000752  0.000028  0.001284  0.000343    0.000906
-------------------------
CAPM model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.001171  0.000852  0.001384  0.000607    0.001473
2            0.001435  0.000812  0.000905  0.001079    0.000973
3            0.000886  0.000831  0.001118  0.000637    0.000722
4            0.000594  0.000559  0.000341  0.000561    0.001702
Big_Size     0.000667 -0.000083  0.001147  0.000237    0.000809
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.553202  1.704332  1.935264  0.997262    2.271080
2            2.216936  1.514597  1.781735  1.602894    2.120505
3            1.217298  1.354842  4.000136  1.422309    1.538333
4            1.058366  1.267541  1.257225  1.399101    2.104599
Big_Size     1.044588 -0.194474  2.140141  0.628246    2.063730
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.059742  0.087309  0.097976  0.091084    0.102305
2            0.079292  0.081256  0.086839  0.088938    0.090900
3            0.076926  0.088434  0.108478  0.105081    0.100449
4            0.054583  0.081912  0.102811  0.103032    0.105096
Big_Size     0.063569  0.082685  0.102427  0.079268    0.072322
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.333439  0.708265  0.599102  0.640978    0.664837
2            0.544576  0.646474  0.699367  0.581716    0.757676
3            0.470804  0.623590  0.923068  0.814241    0.785105
4            0.430060  0.733050  0.919770  0.840415    0.573761
Big_Size     0.441270  0.749285  0.744234  0.778413    0.730478
-------------------------
2factors model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000553  0.000262 -0.000822 -0.001429    0.000540
2           -0.000620 -0.000934 -0.000323 -0.000601    0.000506
3           -0.001467 -0.000541  0.000909 -0.000059   -0.000078
4           -0.001105 -0.000628 -0.000006  0.000152    0.000955
Big_Size    -0.000615 -0.000881  0.001469  0.000501    0.001286
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.061844  0.045664 -0.057683 -0.052495    0.036555
2           -0.065662 -0.041906  0.000149 -0.029575    0.057990
3           -0.089071 -0.008330  0.093722  0.055981    0.044080
4           -0.065234 -0.001851  0.078368  0.074238    0.052393
Big_Size    -0.026830  0.026376  0.125144  0.097901    0.105947
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.769303  0.263497  0.984894  0.908458    0.416018
2            0.917156  0.779274  0.548507  0.749861    0.208227
3            1.050304  0.612253  0.093368  0.310668    0.356657
4            0.758110  0.529986  0.154659  0.182190    0.333465
Big_Size     0.571977  0.356276 -0.143734 -0.117898   -0.212759
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.520638  0.730106  0.804070  0.856861    0.702058
2            0.791257  0.847786  0.793836  0.721722    0.771137
3            0.767952  0.724787  0.925383  0.838337    0.818615
4            0.710943  0.836951  0.926817  0.849312    0.593318
Big_Size     0.562224  0.796385  0.749196  0.784243    0.751882
-------------------------
3factors model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000460  0.000298 -0.000868 -0.001433    0.000577
2           -0.000536 -0.000876 -0.000336 -0.000603    0.000414
3           -0.001477 -0.000548  0.000864 -0.000087   -0.000152
4           -0.001004 -0.000644 -0.000062  0.000118    0.000847
Big_Size    -0.000601 -0.000896  0.001269  0.000416    0.001209
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.629609  0.539759 -1.511979 -3.240516    0.820999
2           -1.076837 -2.183058 -0.694656 -0.955079    0.818377
3           -2.663242 -0.907404  2.752608 -0.180291   -0.308934
4           -2.234495 -1.624944 -0.213318  0.263582    0.938220
Big_Size    -0.924630 -2.025186  2.188450  0.989252    2.834315
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.048273  0.050954 -0.064329 -0.053078    0.041886
2           -0.053367 -0.033439 -0.001727 -0.029921    0.044404
3           -0.090542 -0.009304  0.087120  0.051929    0.033238
4           -0.050466 -0.004205  0.070073  0.069163    0.036697
Big_Size    -0.024875  0.024200  0.095828  0.085466    0.094737
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   1.057293  0.375744  0.843872  0.896091    0.529148
2            1.178048  0.958942  0.508698  0.742518   -0.080075
3            1.019088  0.591598 -0.046718  0.224683    0.126579
4            1.071475  0.480037 -0.021354  0.074498    0.000394
Big_Size     0.613455  0.310086 -0.765823 -0.381773   -0.450639
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.349664 -0.136286  0.171222  0.015015   -0.137356
2           -0.316763 -0.218145  0.048335  0.008916    0.350043
3            0.037901  0.025078  0.170085  0.104398    0.279350
4           -0.380473  0.060646  0.213706  0.130754    0.404399
Big_Size    -0.050361  0.056082  0.755310  0.320384    0.288821
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.527652  0.731166  0.805194  0.856872    0.702794
2            0.796593  0.850647  0.793969  0.721726    0.778036
3            0.768022  0.724818  0.926777  0.838831    0.822344
4            0.723774  0.837198  0.929257  0.850143    0.598534
Big_Size     0.562394  0.796596  0.774046  0.792052    0.759036
-------------------------
4factors model
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.000505  0.000283 -0.000923 -0.001470    0.000628
2           -0.000572 -0.000905 -0.000355 -0.000664    0.000456
3           -0.001531 -0.000620  0.000857 -0.000048   -0.000103
4           -0.001039 -0.000667 -0.000063  0.000138    0.000915
Big_Size    -0.000653 -0.000891  0.001296  0.000450    0.001253
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.730648  0.514256 -1.878484 -3.731815    0.968228
2           -1.241011 -2.442185 -0.746614 -1.229490    1.005317
3           -3.232367 -1.351587  2.729409 -0.110176   -0.248386
4           -2.538638 -1.755678 -0.214500  0.317279    1.104734
Big_Size    -1.110517 -2.002170  2.297860  1.183150    3.529114
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.021352  0.059971 -0.031712 -0.030844    0.011552
2           -0.032174 -0.016165  0.009637  0.006090    0.019558
3           -0.058813  0.033394  0.091107  0.028915    0.004336
4           -0.029763  0.009075  0.070560  0.057030   -0.003550
Big_Size     0.005969  0.021009  0.079581  0.065439    0.068823
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.876487  0.315185  0.624807  0.746766    0.732878
2            1.035707  0.842925  0.432374  0.500654    0.086798
3            0.805985  0.304826 -0.073493  0.379248    0.320691
4            0.932428  0.390849 -0.024622  0.155984    0.270706
Big_Size     0.406296  0.331516 -0.656702 -0.247269   -0.276589
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size  -0.314115 -0.124379  0.214294  0.044375   -0.177413
2           -0.288777 -0.195334  0.063341  0.056470    0.317233
3            0.079800  0.081462  0.175350  0.074008    0.241184
4           -0.353134  0.078181  0.214349  0.114733    0.351251
Big_Size    -0.009630  0.051868  0.733855  0.293938    0.254601
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.026492  0.008873  0.032097  0.021879   -0.029851
2            0.020856  0.016999  0.011183  0.035438   -0.024450
3            0.031224  0.042018  0.003923 -0.022647   -0.028441
4            0.020373  0.013068  0.000479 -0.011939   -0.039606
Big_Size     0.030353 -0.003140 -0.015988 -0.019708   -0.025502
            Low_BE/ME         2         3         4  High_BE/ME
Small_Size   0.582971  0.737338  0.859443  0.888077    0.750549
2            0.828380  0.874518  0.803754  0.799650    0.824286
3            0.833465  0.843591  0.927795  0.870740    0.875448
4            0.774325  0.852939  0.929274  0.859664    0.667284
Big_Size     0.647276  0.797508  0.789345  0.832647    0.835667
-------------------------

## comparation

### 1st part  to    2nd part
###           E(r)    >    E(r)
### in most cases:
###           α        >    α